[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/goj/ultisnips
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim
[submodule "pathogen"]
	path = pathogen
	url = https://github.com/tpope/vim-pathogen.git
